{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title%}
        {% endblock %} | Quipildor C
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <h1> Sitio web con Django | Claudio Quipidlor</h1>
    <hr/>
    <ul>
        <li>
            <a href="/inicio">INICIO</a>
        </li>
        <li>
            <a href="/hola-mundo">HOLA</a>
        </li>
        <li>
            <a href="/pagina">PAGINA</a>
        </li>
        <li>
            <a href="/contacto">CONTACTOS</a>
        </li>
    </ul>
    <hr/>
    <div id="content"> 
        <strong> Contenido Original de template !!! </strong>
        {% block content%}
        {% endblock%}
    </div>
    <hr/>
    <footer>
        Django &copy; Quipildor Claudio
    </footer>
</body>

</html>