{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title%}
        {% endblock %} | Quipildor C
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <div id="logotipo">
          
            <img src="{% static 'images/logo.png' %}"/>
            <h1> Sitio Web con Django</h1>
        </div>

    </header>
    <nav>
        <ul>
            <li>
                <a href={% url 'index' %}>INICIO</a>
            </li>
            <li>
                <a href="/hola-mundo">HOLA</a>
            </li>
            <li>
                <a href="/pagina">PAGINA</a>
            </li>
            <li>
                <a href="/contacto">CONTACTOS</a>
            </li>
        </ul>

    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <hr />

    <div id="content">
        <div class="box">
            <h2 class="title"> Titulo de Prueba</h2>
            <strong> Contenido Original de template !!! </strong>
            {% block content%}

            {% endblock%}
        </div>
    </div>
    <hr />
    <footer>
        Django &copy; Quipildor Claudio - {% now "Y" %} 
    </footer>
</body>

</html>